<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <title>Wiki.r</title>
  </head>
  <body>

    <form action="/" method="post">
    <input type="text" name="search[search]" value="">
    <input type="submit" name="submit" value="Search Wiki">
    </form>

      <div id="nav">
    <a href="/">Home</a>
      <span>||</span>
		<a href="/authors">Authors</a>
      <span>||</span>
		<a href="/documents">Documents</a>
	   </div>

	<section id="main">
		<%= yield %>
	</section>
  </body>
</html>
