<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <title>Wiki.r</title>
  </head>
  <body>

      <div id="nav">
		<a href="/authors">Authors</a>
    <span>||</span>
		<a href="/documents">Documents</a>
	   </div>

	<section id="main">
		<%= yield %>
	</section>
  </body>
</html>
