<h2> Search Results: </h2>

<% if $au_search == nil %>
  <a href = "/documents/<%= $doc_search.id %>"><%= $doc_search.title %></a>
<% else %>
  <a href = "/authors/<%= $au_search.id %>"><%= $au_search.username %></a>
<% end %>
