<h1> Welcome to Wiki </h1>

<h2> Recent Changes </h2>
  <% @changes.each do |change| %>

  <label for="date">Edited on: <%= change.v_date %></label>
  <span>|</span>
  <label for="date">Edited by: <%= change.author.username %></label><br>
  <label for="recent_blurb">Description: <%= change.blurb %></label><br>
  <label for="recent_content">Content: <%= change.content %></label><br><br>
<% end %>
