<h2> <a href="/authors/new"> Become an Author in this Suite Wiki</a> <br>

<ul>
<% @authors.each do |author| %>
<li><a href= "/authors/<%= author.id %>"> <%= author.username %>
    </a></li>
<% end %>
</ul>
