<h2> Sign up to Wiki.r </a><br>

<form action="/authors" method="post">

  <label for="name">First Name </label>
  <input type="text" name="author[first_name]" value="">
</label><br>

  <label for="name">Last Name </label>
  <input type="text" name="author[last_name]" value="">
</label><br>

  <label for="name">Username </label>
  <input type="text" name="author[username]" value="">
</label><br>

  <input type="submit" name="submit" value="Add Author">

</form>
